sub-header
  inbox-configuration-social-networks-subheader

.inbox-configuration-social-networks
  .inbox-configuration-social-networks-info
    | !{__("Enable Inbox social networks link with yours accounts, click Avatar <i class='mdi mdi-account-circle'></i> <i class='mdi mdi-chevron-right'></i> <strong><a href='#/controlcenter'>Controlcenter</a></strong> <i class='mdi mdi-chevron-right'></i> <strong><a href='#/controlcenter/accounts'>Accounts</a></strong>")}
  form(name='form')
    div(dynamic-directive="inbox-configuration-social-networks-item")